
<div class="sidenav inRigth" id="sidenav">
  <!-- <h1 class="text--white">Lista</h1> -->

  <ul class="responsive ">

    <p *ngIf="!listVirus"><i class="fas fa-circle-notch"></i></p>

      <button mat-button style="border-bottom: 1px solid #eee" *ngFor="let title of listVirus"  class="btn--red min bottoms inRigth" type="button" name="button">{{ title.name }}  <i class="fas fa-location-arrow between"></i></button>


  </ul>


</div>

<!-- <article class="responsive inBottom" *ngIf="">
  <mat-spinner color="warn"></mat-spinner>
</article> -->
<section class="container responsive in" *ngIf="">


  <h1>Hola container</h1>



  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </p>
</section>
