
.sidenav{

    /* margin-top: -21px; */
    float: left;
    width: 210px;
    background-color: rgba(212, 36, 58, 0.904);
    height: 100vh;

    padding: 0 10px 0 0;
}
.between{
  float: right;
  color: red;

}
.bottoms{
  padding-bottom: 5px;
  padding-top: 5px;
  /* margin-bottom: 1.3px; */
}

.container{
  padding: 1em;
}
.fa-circle-notch{
   animation: colorate 2.5s infinite linear;
}
@keyframes colorate {
   to{
     transform: rotate(360deg);
     transition: 1s;
   }

   30%{
     color: yellow;
   },
   80%{
     color: orangered;
   }

   90%{
     color: blue;
   }

}
