
<div class="sidenav inRigth" id="sidenav">
  <!-- <h1 class="text--white">Lista</h1> -->

  <ul class="responsive ">

    <p *ngIf="!listVirus"><i class="fas fa-circle-notch"></i></p>

      <button  mat-button style="border-bottom: 1px solid #eee" *ngFor="let title of listVirus"
      class="btn--red min bottoms inRigth" type="button" name="button"  (click)="okGo(title.id)">
      {{ title.name }}  <i class="fas fa-location-arrow between"></i></button>


  </ul>


</div>

<article class="responsive inBottom" *ngIf="spinner.off">
  <mat-spinner color="accent"></mat-spinner>
</article>
<section class="container responsive in" *ngIf="dataVirus && !spinner.off"  >

  <div class="" *ngFor="let data of dataVirus">
     <h1> {{data.title}} </h1>
  </div>


</section>
