
<div class="sidenav inRigth" id="sidenav">
  <!-- <h1 class="text--white">Lista</h1> -->

  <ul class="responsive ">

    <p *ngIf="!listVirus"><i class="fas fa-circle-notch"></i></p>

      <button click mat-button style="border-bottom: 1px solid #eee" *ngFor="let title of listVirus"
      class="btn--red min bottoms inRigth" type="button" name="button"  (click)="okGo(title.id)">
      {{ title.name }}  <i  class="fas fa-location-arrow between"></i></button>


  </ul>


</div>

<div class="sliderContainer inRigth">

  <div class=" responsive">
    {{sizeRoutes}} de 9
  </div>
    
  <button mat-button [disabled]="sizeRoutes == 1" click (click)="sliderLeft()"><i class="fas fa-arrow-left"></i></button>
  <button mat-button [disabled]="sizeRoutes == 9" click (click)="sliderRigth()"><i class="fas fa-arrow-right"></i></button>

</div>

<article class="responsive inRigth" *ngIf="!dataVirus.length">
  <h1 class="text--white"> <i class="fas fa-arrow-left"></i> Seleccione un virus para mostrar</h1>
</article>



<article class="responsive inBottom" *ngIf="spinner.off">
  <mat-spinner ></mat-spinner>
</article>








<section class="container responsive in" *ngIf="dataVirus && !spinner.off"  >

  <div class="inBottom" *ngFor="let data of dataVirus">
     <h1> {{data.title}} </h1>
      <p>{{data.description}}</p>
     <div class="image__container responsive">
       <img src="assets/virusimg/{{data.img}}" alt="data virus img" class="inBottom medium">
     </div>


     <p>{{data.description_}}</p>
  </div>


</section>
