

<article class="responsive inBottom" *ngIf="spinner.off">
  <mat-spinner ></mat-spinner>
</article>


<section>


  <div class="backgr blur in" *ngIf="!spinner.off">

  </div>

</section>

<section class="inBottom  contentHome responsive" style="overflow-x:hidden" *ngIf="!spinner.off">
  <h1 class="text--white title">Conoce los virus mas conocidos.</h1>
  <button (click)="onVirus()" type="button"  class="minmin" mat-stroked-button name="button">Conocer <i class="fas fa-location-arrow"></i></button>
</section>
