
.card--credits{
  background-color: #111;
  border-radius: 3px;
 
  text-align: center;
  font-size: 18px;
  font-family: roboto;
  color: #eee;
  text-decoration: none;
  margin: 5px 0;
  padding: 1em 0;
}
